@model RegisterViewModel

@{
    string statusMessage = Model.StatusMessage;    
}

@if (!String.IsNullOrEmpty(statusMessage))
{
    var statusMessageClass = statusMessage.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        @statusMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>

    <a asp-action="Login" asp-controller="Account" asp-route-returnUrl="@Model.ReturnUrl">Click here to login</a>
}