.sellCarContainer {
    margin: 1rem 0 2rem 100px;
    padding: 1rem;
    justify-content: center;
    max-width: 80%;
}

.sellCarButton {
    padding: 1rem;
    justify-content: center;
}

.center {  
    justify-content: center;   
}

.sellCarPicker {
    display: flex;
    justify-content: center;
}

.confirm {
    display: block;   
}

.confirm p {
    font-weight: bold;   
    font-size: 16px; 
}