.carImage {
    width: 200px;
}

.carName {
    font-weight: bold;

}

.carPrice {
    font-weight: bold;
    color: green;
    margin: 0;
    padding: 0;
}

.imageContainer {
    display: flex;
    align-items: center;
    height: 100%;
}